<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proje_Ödevi.Properties.Settings.ConnectionString"
            connectionString="Data Source=TAHA_ROG;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Proje_Ödevi.Properties.Settings.ARABA_OTOMASYONU_PROJESİConnectionString"
            connectionString="Data Source=TAHA_ROG;Initial Catalog=&quot;ARABA OTOMASYONU PROJESİ&quot;;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Proje_Ödevi.Properties.Settings.ARABA_OTOMASYONU_PROJESİConnectionString1"
            connectionString="Data Source=TAHA_ROG;Initial Catalog=ARABA_OTOMASYONU_PROJESİ;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>